# Practice Opportunity
Now that you have met pandas and DataFrames and learned how to extract data from them, try the following practice opportunity.

A portfolio consists of a collection of assets owned by an investor, such as stocks, bonds, real estate, and exchange-traded funds (ETFs). Using pandas DataFrames, complete the following tasks:

Define a pandas DataFrame named “portfolio_df” that holds five different stock, bond, or ETF names; ticker symbols; price per share; and number of shares. (Feel free to choose any stock, bond, or ETF and number you prefer.)

Obtain a statistical summary of the “portfolio_df” DataFrame.

Calculate the total value of the portfolio, including all assets.

You can access the Coding Lab for this lesson in the box below.

Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

Introduction to Data Analysis with pandas下载 Introduction to Data Analysis with pandas

Once you have completed the practice opportunity, proceed to the next page, where the solution will be provided

In [2]:
import pandas as pd

# lets for example use the data from the answer:
# portfolio_df = pd.DataFrame({'company name': ['Alphabet', 'Netflix', 'Bank of America', 'Boeing', 'Apple'],
#                              'stock ticker symbol':['GOOG', 'NFLX', 'BOA', 'BA', 'AAPL'],
#                              'price per share [$]':[99, 245, 33, 136, 142],
#                              'number of shares':[2, 7, 15, 30, 22]})
dict = {
    "company_name": ['Alphabet', 'Netflix', 'Bank of America', 'Boeing', 'Apple'],
    "stock_symbol": ['GOOG', 'NFLX', 'BOA', 'BA', 'AAPL'],
    "price/Share_$": [99, 245, 33, 136, 142],
    "num_shares": [2, 7, 15, 30, 22]
}

portfolio_df = pd.DataFrame(dict)

In [3]:
print(portfolio_df)

      company_name stock_symbol  price/Share_$  num_shares
0         Alphabet         GOOG             99           2
1          Netflix         NFLX            245           7
2  Bank of America          BOA             33          15
3           Boeing           BA            136          30
4            Apple         AAPL            142          22

In [4]:
portfolio_df.head(3)

      company_name stock_symbol  price/Share_$  num_shares
0         Alphabet         GOOG             99           2
1          Netflix         NFLX            245           7
2  Bank of America          BOA             33          15

In [5]:
portfolio_df.tail(3)

      company_name stock_symbol  price/Share_$  num_shares
2  Bank of America          BOA             33          15
3           Boeing           BA            136          30
4            Apple         AAPL            142          22

In [6]:
portfolio_df.describe()

       price/Share_$  num_shares
count       5.000000    5.000000
mean      131.000000   15.200000
std        77.087612   11.256109
min        33.000000    2.000000
25%        99.000000    7.000000
50%       136.000000   15.000000
75%       142.000000   22.000000
max       245.000000   30.000000

In [ ]:
portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_name   5 non-null      object
 1   stock_symbol   5 non-null      object
 2   price/Share_$  5 non-null      int64
 3   num_shares     5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

: