# Practice Opportunity
Now that you have learned how to use functions with a pandas DataFrame, try the following practice opportunity.

Write some Python code that performs the following tasks:

Import the “investors_data.csv” dataset and place it in “investor_df” DataFrame using pandas.

Define a function named “ranking” that receives the portfolio size and adds one of the following ranks:

Low: Client portfolio size is less than $100,000

Medium: Client portfolio size is between $100,000 and $500,000

High: Client portfolio size is more than $500,000

Apply the function to the “investor_df” DataFrame, and add the output to a new column titled “Rank.”

In [7]:
import pandas as pd
investor_df = pd.read_csv("investors_data.csv")

def ranking(k):
    # here k is a series, a row of the df
    item = k["Portfolio Size"]
    if item < 100000:
        return "Low"
    elif item > 500000:
        return "High"
    return "Medium"

investor_df["Rank"] = investor_df.apply(ranking, axis=1)

In [8]:
investor_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,Rank
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,Low
1,Sherif,George,54,950000.0,30.0,conservative,retire,High
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,Medium
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,Medium
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,Low
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,Medium
6,Chris,Peter,38,NaN,8.0,moderate,kids education,Medium
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,High
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,Low