# Practice Opportunity
Now that you learned about concatenation and merging of pandas DataFrames, try the following practice opportunity.

Assume that you became a new client of an investment firm that has its data stored in “investor_df.” Write a Python code that performs the following:

Define a new pandas DataFrame named “new_client_df” that contains your information, such as client ID (choose C1), first name, last name, age, portfolio size, years with investment firm, risk tolerance, goal, salaries, and job title.

Concatenate this new DataFrame to the original pandas DataFrame “investor_df.”

Reset the index.

In [1]:
import pandas as pd

investor_df = pd.read_csv("investors_data.csv")

In [9]:
myInfo = pd.DataFrame({
    "First Name": ["Fion"],
    "Last Name": ["Li"],
    "client ID": ["12345"],
    "Age": [128],
    "Portfolio Size": [1000],
    "Years with Investment Firm": [0],
    "Risk Tolerance": ["conservative"],
    "salaries": [0],
    "Job Title": ["Finance analytic"]
})

In [10]:
myInfo

,First Name,Last Name,client ID,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,salaries,Job Title
0,Fion,Li,12345,128,1000,0,conservative,0,Finance analytic

In [11]:
new_df = pd.concat([investor_df, myInfo], ignore_index=True)

In [12]:
new_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal,client ID,salaries,Job Title
0,Ryan,David,32,80100.0,5.0,aggressive,buy house,NaN,NaN,NaN
1,Sherif,George,54,950000.0,30.0,conservative,retire,NaN,NaN,NaN
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education,NaN,NaN,NaN
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property,NaN,NaN,NaN
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans,NaN,NaN,NaN
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire,NaN,NaN,NaN
6,Chris,Peter,38,NaN,8.0,moderate,kids education,NaN,NaN,NaN
7,Nancy,Smith,55,900000.0,17.0,conservative,retire,NaN,NaN,NaN
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early,NaN,NaN,NaN
9,Fion,Li,128,1000.0,0.0,conservative,NaN,12345,0.0,Finance analytic

In [13]:
investor_df.to_json()

'{"First Name":{"0":"Ryan","1":"Sherif","2":"Sandra","3":"Victoria","4":"Sarah","5":"Bassel","6":"Chris","7":"Nancy","8":"Heidi"},"Last Name":{"0":"David","1":"George","2":"Stevenson","3":"Keller","4":"Aly","5":"Nasr","6":"Peter","7":"Smith","8":"Smith"},"Age":{"0":32,"1":54,"2":40,"3":43,"4":26,"5":50,"6":38,"7":55,"8":23},"Portfolio Size":{"0":80100.0,"1":950000.0,"2":150509.0,"3":300901.0,"4":41258.0,"5":401201.0,"6":null,"7":900000.0,"8":1500.0},"Years with Investment Firm":{"0":5.0,"1":30.0,"2":10.0,"3":null,"4":2.0,"5":15.0,"6":8.0,"7":17.0,"8":1.0},"Risk Tolerance":{"0":"aggressive","1":"conservative","2":"moderate","3":"moderate","4":"aggressive","5":"conservative","6":"moderate","7":"conservative","8":"moderate"},"Goal":{"0":"buy house","1":"retire","2":"kids education","3":"investment property","4":"pay student loans","5":"retire","6":"kids education","7":"retire","8":"retire early"}}'

In [14]:
myInfo.to_json()

'{"First Name":{"0":"Fion"},"Last Name":{"0":"Li"},"client ID":{"0":"12345"},"Age":{"0":128},"Portfolio Size":{"0":1000},"Years with Investment Firm":{"0":0},"Risk Tolerance":{"0":"conservative"},"salaries":{"0":0},"Job Title":{"0":"Finance analytic"}}'

In [16]:
# we only care about investor_df, not necessary myInfo
myInfo_filtered = myInfo[investor_df.columns.intersection(myInfo.columns)]
myInfo_filtered

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance
0,Fion,Li,128,1000,0,conservative

In [18]:
better_new_df = pd.concat([investor_df, myInfo_filtered], ignore_index=True)
better_new_df

,First Name,Last Name,Age,Portfolio Size,Years with Investment Firm,Risk Tolerance,Goal
0,Ryan,David,32,80100.0,5.0,aggressive,buy house
1,Sherif,George,54,950000.0,30.0,conservative,retire
2,Sandra,Stevenson,40,150509.0,10.0,moderate,kids education
3,Victoria,Keller,43,300901.0,NaN,moderate,investment property
4,Sarah,Aly,26,41258.0,2.0,aggressive,pay student loans
5,Bassel,Nasr,50,401201.0,15.0,conservative,retire
6,Chris,Peter,38,NaN,8.0,moderate,kids education
7,Nancy,Smith,55,900000.0,17.0,conservative,retire
8,Heidi,Smith,23,1500.0,1.0,moderate,retire early
9,Fion,Li,128,1000.0,0.0,conservative,NaN