# Practice Opportunity
Now that you have learned how to import some datasets and key libraries and how to perform various operations on the data, try the following practice opportunity.

Using the pandas library, read JPMorgan Chase & Co. stock price data contained in the “JPM.csv” file and place it in a pandas DataFrame entitled “JPM_df.”

Count the number of null or missing values in the “JPM_df” pandas DataFrame.

Identify the memory usage of the “JPM_df” pandas DataFrame.

In [2]:
import pandas as pd
import numpy as np

In [3]:
JPM_df = pd.read_csv("JPM.csv")

In [7]:
# read number of null or missing value 
JPM_df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
JPM_df.memory_usage(deep=True)

Index          132
Date         79314
Open         10944
High         10944
Low          10944
Close        10944
Adj Close    10944
Volume       10944
dtype: int64

In [9]:
JPM_df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1368 non-null   object
 1   Open       1368 non-null   float64
 2   High       1368 non-null   float64
 3   Low        1368 non-null   float64
 4   Close      1368 non-null   float64
 5   Adj Close  1368 non-null   float64
 6   Volume     1368 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 141.7 KB