# Practice Opportunity
Now that you have learned how to calculate percentage daily returns, try the following practice opportunity.

Using the adjusted closing price, calculate the percentage daily return for JPMorgan Chase & Co. stock from 14 July 2017 to 16 December 2022.

Calculate the maximum percentage daily return for JPMorgan Chase & Co. stock over the same time period.

In [3]:
import pandas as pd
import numpy as np

JPM_df = pd.read_csv("JPM.csv")

In [4]:
JPM_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1368 entries, 0 to 1367
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1368 non-null   object
 1   Open       1368 non-null   float64
 2   High       1368 non-null   float64
 3   Low        1368 non-null   float64
 4   Close      1368 non-null   float64
 5   Adj Close  1368 non-null   float64
 6   Volume     1368 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 74.9+ KB

In [ ]:
JPM_df["Daily Return"] = JPM_df["Adj Close"].pct_change(1) * 100

In [6]:
JPM_df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return
0,7/14/2017,90.809998,92.610001,90.580002,92.250000,79.338943,22235200,NaN
1,7/17/2017,91.820000,91.989998,91.250000,91.389999,78.599312,14374200,-0.932243
2,7/18/2017,90.449997,91.580002,90.320000,91.070000,78.324104,14719400,-0.350140
3,7/19/2017,91.339996,91.620003,91.000000,91.199997,78.435898,11651200,0.142732
4,7/20/2017,91.150002,91.720001,90.900002,91.199997,78.435898,11561700,0.000000

In [ ]:
JPM_df["Daily Return"].max()

np.float64(18.012495662164163)

In [8]:
JPM_df["Daily Return"].min()

np.float64(-14.964889246642965)