In [1]:
from generalImport import *  # for time saving
from util import *

In [2]:
def generate_portfolio_weights(n):
    weights = []
    for i in range(n):
        weights.append(random.random())
        
    # let's make the sum of all weights add up to 1
    weights = weights/np.sum(weights)
    return weights

In [3]:
generate_portfolio_weights(10)

array([0.12071221, 0.16921561, 0.07156416, 0.15851054, 0.07249346,
       0.10010552, 0.05376929, 0.0869645 , 0.12778823, 0.03887646])

In [4]:
sum(generate_portfolio_weights(10))

np.float64(0.9999999999999999)

In [1]:
from generalImport import *  # for time saving
from util import *

In [ ]:
# 5.8:
# code from the notebook:
PriceDict = load_dict("price_of_stocks")
priceMovement = extract_stocks_historical_price_from_dict(PriceDict)
scaledPriceMovement = price_scaling(priceMovement)

scaledPriceMovement

Loaded 5 DataFrames from 'price_of_stocks'.

,Date,AAPL,JPM,KO,META,S&P500
0,2020-11-30 00:00:00-05:00,1.000000,1.000000,1.000000,1.000000,1.000000
1,2020-12-01 00:00:00-05:00,1.023972,1.011405,1.008231,1.035629,1.013246
2,2020-12-02 00:00:00-05:00,1.027252,1.012957,1.004841,1.043557,1.012067
3,2020-12-03 00:00:00-05:00,1.034528,1.015766,1.015203,1.034645,1.015401
4,2020-12-04 00:00:00-05:00,1.027757,1.027213,1.032536,1.025606,1.019585
...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,2.328621,2.838209,1.617039,2.163719,1.823593
1252,2025-11-24 00:00:00-05:00,2.367071,2.837446,1.617598,2.226706,1.846347
1253,2025-11-25 00:00:00-05:00,2.400467,2.864802,1.621398,2.301924,1.858788
1254,2025-11-26 00:00:00-05:00,2.402756,2.920516,1.625980,2.328770,1.883541
1255,2025-11-28 00:00:00-05:00,2.397702,2.969356,1.631680,2.353634,1.891192

In [7]:
# we have 5 stocks in portfolio, let generate 5 weight
weights = generate_portfolio_weights(5)
initialInvestment = 100000

In [32]:
portfolio_df = scaledPriceMovement.copy(deep=True) # this is just a holder for future operation
portfolio_df_multi = scaledPriceMovement.copy(deep=True)
for i, stock in enumerate(scaledPriceMovement.columns[1:]):
    portfolio_df[stock] = weights[i] * scaledPriceMovement[stock] * initialInvestment
    portfolio_df_multi[stock] = weights[i] * scaledPriceMovement[stock]


portfolio_df_multi["sum_percent"] = portfolio_df_multi.iloc[:, 1:].sum(axis=1)
portfolio_df.round(4)

,Date,AAPL,JPM,KO,META,S&P500
0,2020-11-30 00:00:00-05:00,2669.2330,46200.1801,15667.8986,11935.9807,23526.7076
1,2020-12-01 00:00:00-05:00,2733.2195,46727.0912,15796.8604,12361.2462,23838.3444
2,2020-12-02 00:00:00-05:00,2741.9751,46798.7742,15743.7544,12455.8720,23810.6144
3,2020-12-03 00:00:00-05:00,2761.3955,46928.5642,15906.0932,12349.5020,23889.0518
4,2020-12-04 00:00:00-05:00,2743.3219,47457.4137,16177.6657,12241.6081,23987.4734
...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,6215.6313,131125.7790,25335.5980,25826.1075,42903.1406
1252,2025-11-24 00:00:00-05:00,6318.2641,131090.4940,25344.3542,26577.9234,43438.4725
1253,2025-11-25 00:00:00-05:00,6407.4049,132354.3473,25403.8926,27475.7233,43731.1652
1254,2025-11-26 00:00:00-05:00,6413.5167,134928.3850,25475.6889,27796.1479,44313.5263
1255,2025-11-28 00:00:00-05:00,6400.0244,137184.7966,25564.9992,28092.9342,44493.5096

In [33]:
portfolio_df_multi

,Date,AAPL,JPM,KO,META,S&P500,sum_percent
0,2020-11-30 00:00:00-05:00,0.026692,0.462002,0.156679,0.119360,0.235267,1.000000
1,2020-12-01 00:00:00-05:00,0.027332,0.467271,0.157969,0.123612,0.238383,1.014568
2,2020-12-02 00:00:00-05:00,0.027420,0.467988,0.157438,0.124559,0.238106,1.015510
3,2020-12-03 00:00:00-05:00,0.027614,0.469286,0.159061,0.123495,0.238891,1.018346
4,2020-12-04 00:00:00-05:00,0.027433,0.474574,0.161777,0.122416,0.239875,1.026075
...,...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,0.062156,1.311258,0.253356,0.258261,0.429031,2.314063
1252,2025-11-24 00:00:00-05:00,0.063183,1.310905,0.253444,0.265779,0.434385,2.327695
1253,2025-11-25 00:00:00-05:00,0.064074,1.323543,0.254039,0.274757,0.437312,2.353725
1254,2025-11-26 00:00:00-05:00,0.064135,1.349284,0.254757,0.277961,0.443135,2.389273
1255,2025-11-28 00:00:00-05:00,0.064000,1.371848,0.255650,0.280929,0.444935,2.417363

In [35]:
portfolio_df

,Date,AAPL,JPM,KO,META,S&P500
0,2020-11-30 00:00:00-05:00,2669.233032,46200.180140,15667.898553,11935.980670,23526.707606
1,2020-12-01 00:00:00-05:00,2733.219472,46727.091166,15796.860378,12361.246185,23838.344354
2,2020-12-02 00:00:00-05:00,2741.975053,46798.774195,15743.754435,12455.871998,23810.614387
3,2020-12-03 00:00:00-05:00,2761.395513,46928.564222,15906.093194,12349.502006,23889.051784
4,2020-12-04 00:00:00-05:00,2743.321877,47457.413741,16177.665705,12241.608094,23987.473384
...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,6215.631286,131125.779049,25335.597971,25826.107489,42903.140589
1252,2025-11-24 00:00:00-05:00,6318.264088,131090.494008,25344.354242,26577.923412,43438.472472
1253,2025-11-25 00:00:00-05:00,6407.404901,132354.347337,25403.892606,27475.723269,43731.165150
1254,2025-11-26 00:00:00-05:00,6413.516732,134928.384961,25475.688947,27796.147851,44313.526258
1255,2025-11-28 00:00:00-05:00,6400.024391,137184.796643,25564.999165,28092.934203,44493.509625

In [36]:
portfolio_df["sum"] = portfolio_df.iloc[:, 1:].sum(axis=1)

In [37]:
portfolio_df

,Date,AAPL,JPM,KO,META,S&P500,sum
0,2020-11-30 00:00:00-05:00,2669.233032,46200.180140,15667.898553,11935.980670,23526.707606,100000.000000
1,2020-12-01 00:00:00-05:00,2733.219472,46727.091166,15796.860378,12361.246185,23838.344354,101456.761556
2,2020-12-02 00:00:00-05:00,2741.975053,46798.774195,15743.754435,12455.871998,23810.614387,101550.990067
3,2020-12-03 00:00:00-05:00,2761.395513,46928.564222,15906.093194,12349.502006,23889.051784,101834.606720
4,2020-12-04 00:00:00-05:00,2743.321877,47457.413741,16177.665705,12241.608094,23987.473384,102607.482802
...,...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,6215.631286,131125.779049,25335.597971,25826.107489,42903.140589,231406.256384
1252,2025-11-24 00:00:00-05:00,6318.264088,131090.494008,25344.354242,26577.923412,43438.472472,232769.508222
1253,2025-11-25 00:00:00-05:00,6407.404901,132354.347337,25403.892606,27475.723269,43731.165150,235372.533263
1254,2025-11-26 00:00:00-05:00,6413.516732,134928.384961,25475.688947,27796.147851,44313.526258,238927.264749
1255,2025-11-28 00:00:00-05:00,6400.024391,137184.796643,25564.999165,28092.934203,44493.509625,241736.264027

# Practice Opportunity
Now that you have learned about performing asset allocation, try the following practice opportunity.

Generate three different random weights, and perform asset allocation using the pre-defined “asset_allocation” function.

Compare the final portfolio value on 16 December 2022 with the initial investment ($1 million) on 2 January 2014. Comment on your results.

Hint: You will need to run the code three different times and examine the results. No additional code is required.

You can access the Coding Lab for this lesson in the box below.

Note that it may take up to five minutes to load the lab. If you still have difficulty accessing the Coding Lab, download the Jupyter Notebook to run the exercise in your local environment (as described in the introductory lesson Environment Setup and Jupyter Notebook Walk-Through):

Final Capstone ProjectDownload Final Capstone Project

Once you have completed the practice opportunity, proceed to the next page, where the solution will be provided.

In [ ]:
# generalize it
def asset_allocation(df, weights, initialInvestment):
    # copy from instruction:
    portfolio_df = df.copy()

    # Scale stock prices using the "price_scaling" function that we defined earlier (Make them all start at 1)
    scaled_df = price_scaling(df)

    for i, stock in enumerate(scaled_df.columns[1:]):
        portfolio_df[stock] = scaled_df[stock] * weights[i] * initialInvestment

    # Sum up all values and place the result in a new column titled "portfolio value [$]" 
    # Note that we excluded the date column from this calculation
    portfolio_df['Portfolio Value [$]'] = portfolio_df[portfolio_df != 'Date'].sum(axis = 1, numeric_only = True)
            
    # Calculate the portfolio percentage daily return and replace NaNs with zeros
    portfolio_df['Portfolio Daily Return [%]'] = portfolio_df['Portfolio Value [$]'].pct_change(1) * 100 
    portfolio_df.replace(np.nan, 0, inplace = True)

    return portfolio_df

In [39]:
asset_allocation(scaledPriceMovement, weights, 1000000)

,Date,AAPL,JPM,KO,META,S&P500,Portfolio Value [$],Portfolio Daily Return [%]
0,2020-11-30 00:00:00-05:00,26692.330317,4.620018e+05,156678.985527,119359.806699,235267.076058,1.000000e+06,0.000000
1,2020-12-01 00:00:00-05:00,27332.194719,4.672709e+05,157968.603779,123612.461854,238383.443544,1.014568e+06,1.456762
2,2020-12-02 00:00:00-05:00,27419.750533,4.679877e+05,157437.544345,124558.719976,238106.143866,1.015510e+06,0.092876
3,2020-12-03 00:00:00-05:00,27613.955134,4.692856e+05,159060.931938,123495.020059,238890.517844,1.018346e+06,0.279285
4,2020-12-04 00:00:00-05:00,27433.218771,4.745741e+05,161776.657048,122416.080944,239874.733845,1.026075e+06,0.758952
...,...,...,...,...,...,...,...,...
1251,2025-11-21 00:00:00-05:00,62156.312859,1.311258e+06,253355.979711,258261.074893,429031.405889,2.314063e+06,-1.359949
1252,2025-11-24 00:00:00-05:00,63182.640883,1.310905e+06,253443.542416,265779.234122,434384.724718,2.327695e+06,0.589116
1253,2025-11-25 00:00:00-05:00,64074.049011,1.323543e+06,254038.926057,274757.232689,437311.651502,2.353725e+06,1.118284
1254,2025-11-26 00:00:00-05:00,64135.167323,1.349284e+06,254756.889468,277961.478508,443135.262576,2.389273e+06,1.510258
1255,2025-11-28 00:00:00-05:00,64000.243908,1.371848e+06,255649.991649,280929.342034,444935.096246,2.417363e+06,1.175671

In [ ]:
# the practice is not really interesting, just changing weights by generate weight generate_portfolio_weights function, and change initial investment.